@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    height: 100vh;
    padding: 10px;

}

.right {

    width: 75vw;
    /* height: 100vh;  */
}

.home ul li {
    /* color: white; */
    display: flex;
    list-style: none;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    list-style: none;
}

.bg-black {
    background-color: black;
    color: white;

}

.home :nth-child(2) {
    /* padding: 10px; */
    /* height: 30vh;
    width: 25vw; */
    cursor: pointer;
}


.heading {
    display: flex;
    width: 100%;
    /* height: 26px; */
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
    /* height: 70vh;
    width: 25vw; */
}

.fotter {
    display: flex;
    font-size: 8px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.fotter a {
    color: grey;


}

.right {
    margin: 16px 0;

    width: 75vw;
    position: relative;
    /* height: 100vh;  */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 33, 33);

}

.header>* {

    padding: 20px;
}


.card-container {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    max-height: 70vh;
    overflow-y: auto;

}

.card {
    width: 200px;

    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgb(130, 127, 127);
    cursor: pointer;
    --a : 1;
    
}

/* immediate element */
.card>* {
    padding-top: 10px;

}


.card img {
    width: 100%;
    object-fit: contain;
}
.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    /* border: 2px solid black; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
/* .card-container .card  {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    /* opacity: 0; */
    /* transition: all 1s ease-out; */
} */

.buttons>* {
    padding: 0 12px;
}

.signupbtn {
    margin: 7px;
    padding: 8px;
    border-radius: 20%;
    color: grey;
    font-weight: bold;
    background-color: rgb(139, 3, 3);
    z-index: 10;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 1.1rem;
    color: white;

}

.loginbtn {
    margin: 8px;
    padding: 16px;
    /* width: 80px; */
    border-radius: 5in;
    cursor: pointer;


}

.loginbtn:hover {
    font-size: 1.1rem;
    font-weight: bolder;

}

.spotify-playlist {
    padding: 10px;
    /* position: relative; */

}
.spotify-playlist  h1 {
    padding: 4px;


}


.playbar {
    position: fix;
    bottom: 30px;
    background-color: rgb(28, 129, 28);
    /* width: 100%; */
    padding: 12px;
    width: 70vw;
    height: 40px;
    border-radius: 20px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songslist{
    height: 450px;
    overflow:auto;
    margin-bottom: 44px 0;
    
}
.hamburger{
    display: none;
}
.hamburgercontainer{
    display: flex;
    justify-content: center;
     align-items: center;
}

.songslist ul {
    padding: 0 12px;
}

.songslist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 9px 0;
    padding: 13px;
    border-radius: 5px;
    width: 90%;

}
.songslist .info{
    font-size: 13px;
    
}

.info div{
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    width: 64px;
    font-size: 1px;
    padding: 12px;

}

.seekbar{
    height: 2px;
    width: 95%;
    border: 2px solid black;
       position: absolute;
    bottom: 30px;
    border-radius: 10px;
    margin: 6px;
    background-color: black;
    cursor: pointer;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
   transition: left 0.5s ;
}
.songbuttons img{
    cursor: pointer;
}


.abovebar{
    display: flex;
    justify-content: space-between;

    margin: 20px 0;
}

.timevol{
    display: flex;
    justify-content: start;
    align-items: center;
}
.songinfo{
    color: white;
    padding: 0px 12px;
    width: 250px;
    overflow: hidden;
    height: 20px;
    align-items: center;
    
 }



.songtime{
    color: white;
    padding: 0px 12px;
    width: 125px;
    align-items: center;
}
.volume{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.close{
    display: none;
}

@media (max-width: 1300px)  {
    .left{
        
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        

    }
    
    

    .songinfo, .songtime{
        width:auto ;
    }
    .hamburger{
        display: block;
    }
    .close{
        display: block;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .timevol{
        display: flex;
        justify-content:start;
        align-items: center;
        /* flex-direction: column; */
        gap: 1px;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
    
        width:90vw;
        /* border: 2px solid yellow; */
    }
    .seekbar{
        width: 90vw;
        
    }
    .card{
        width: 90vw;
    }

    .card-container{
        
        margin:0;
        justify-content:center;
        flex-direction: column;
        
        /* border: 4px solid blue; */
        height: 60vh;
        overflow: scroll;
    
        
    }

    .abovebar{

        /* flex-direction: column; */
        
        gap: 30px;
        align-items: center;
        bottom:100px ;
        font-size:0.45rem;

        

    }
    .songinfo{
        width: 100%;
    }
    .volume range{
        
        display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    

}
